input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.navbar-default {

    background-color: #3d96bd;
}

.navbar-default .navbar-brand{

    color: white;
}

.borderless li {
    border-top: none;
}


.hidden-xs {

    position:absolute;
    top:0px;
    bottom:5px; margin-top:50px; padding-top:10px; margin-bottom:50px; overflow:auto;
}