input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.navbar-default {

    background-color: #3d96bd;
}

.navbar-default .navbar-brand{

    color: white;
}

.borderless li {
    border-top: none;
}