<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 27px;">
                <a href="#/user/{{model.user._id}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a href="#">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs" style="margin-left:15px; margin-top: 50px; padding-top: 15px; margin-bottom: 50px; position: absolute;top: 0px;bottom: 0px;overflow: auto;">

        <!--{{model.websites}}-->

        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.user._id}}/website/{{website._id}}" class="pull-right" style="margin-left: 15px;">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </li>



        </ul>
    </div>


    <div class="col-xs-12 col-sm-8 v-divider pull-right">

        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="{{model.website._id}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" rows="5" id="description" placeholder="{{model.website.description}}"></textarea>
            </div>

        </form>

        <a class="btn btn-danger  btn-block"
           href="website-list.html">Delete</a>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="nav-bar header">
            <a href="#/user/{{model.user._id}}" class="navbar-brand pull-right">
                <span class = "glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
