.navbar-default .navbar-brand,
.navbar-text a span
{
    color: white;
}

.input-group {
    margin-bottom: 15px;
}

input.form-control {
    margin-bottom: 5px;
}

/*
.navbar-header {
    width:100%;
}
*/

body {
    padding-top: 60px;
    padding-bottom: 65px;
    overflow-x: hidden;
}

.navbar-default {
    background-color: #428bca;
}

.padding-for-icon {
    margin-right: 20px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    right: 20px;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}