@font-face {
    font-family: 'poller_oneregular';
    src: url('../../fonts/pollerone/pollerone-webfont.eot');
    src: url('../../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/pollerone/pollerone-webfont.woff') format('woff'),
    url('../../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
    url('../../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}


.input-group {
    margin-bottom: 15px;
}

input.form-control {
    margin-bottom: 5px;
}

/*
.navbar-header {
    width:100%;
}
*/

body {
    padding-top: 60px;
    padding-bottom: 65px;
    overflow-x: hidden;
}

.padding-for-icon {
    margin-right: 20px;
}

.banner {
    width: 100%;
    background-image: url(../../images/mixtape_banner.png);
    height: 100px;
}

.banner-text {
    color: #444444;
    display: inline;
    max-width: 50%;
    font-family: poller_oneregular;
    font-size: 30px;
    font-weight: normal;
    padding-top: 10px;
    padding-right: 15px;
}


