<nav class="navbar navbar-default navbar-fixed-top bg-primary">
    <div class="container-fluid">

        <div class="nav-bar header">
            <a class="navbar-brand" href="#/user/{{model.user._id}}">Profile</a>

            <a ng-click="model.register(model.user.username, model.user.password, model.user.firstName, model.user.lastName)" class="navbar-brand pull-right">
                <span class = "glyphicon glyphicon-ok"></span>
            </a>

        </div>

    </div>
</nav>


<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="nav-bar header">
            <a href="#/user/{{model.user._id}}" class="navbar-brand pull-right">
                <span class = "glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
