
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="{{model.widget.name}}">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="{{model.widget.text}}">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="text" class="form-control" id="size" placeholder="{{model.widget.size}}">
    </div>

</form>

