<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name"
               ng-model="model.widget.name"
               type="text" class="form-control"
               placeholder="Text" value="{{model.widget.name}}">

        <label for="html">HTML</label>
        <div id="html"
             ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    </div>
</form>