

<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container-fluid">

        <div class="nav-bar header white">

            <div class="nav-bar header white">
                <a class="navbar-text pull-left" href="../../widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="../../widget-list.html">Widget Edit</a>

                <a class="navbar-text pull-right" href="../../widget-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

        </div>

    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="Google did a whole fancy hush-hush thing about a new phone the company is birthing that is totes not a Nexus. It rolled out a cryptic website the other week with little information except for that the release date would be October 4. But the world is wild and unpredictable, and the Google’s new phone, the Pixel, got…">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text" class="form-control" id="size" placeholder="3">
        </div>


        <a class="btn btn-danger  btn-block"
           href="../../widget-list.html">Delete</a>
    </form>

</div>


<nav class="navbar navbar-dark navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="nav-bar header white">
            <a href="../user/profile.view.client.html" class="navbar-text pull-right">
                <span class = "glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

