    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid col-sm-12">
            <div class="col-sm-12">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-text pull-right" style="margin-right: 0px;">
                    <a href="#">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
                        Edit Widget
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs" style="margin-left:15px; margin-top: 50px; padding-top: 15px; margin-bottom: 50px; position: absolute;top: 0px;bottom: 0px;overflow: auto;">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Dapibus ac facilisis in
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Morbi leo risus
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Porta ac consectetur ac
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Vestibulum at eros
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        Porta ac consectetur ac
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Vestibulum at eros
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        Porta ac consectetur ac
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Vestibulum at eros
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        Porta ac consectetur ac
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Vestibulum at eros
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Cras justo odio
                    </a>
                    <a href="#" class="pull-right" style="margin-left: 15px;">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-sm-8 pull-right" style="padding-left: 30px;padding-right: 0px;">
            <form>

                {{model.widget}}



                <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="...">
                      </span>
                    <input value="Single" readonly type="text" class="form-control" aria-label="...">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="row navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
