    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>


<!--

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="{{model.widget.name}}">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="email" class="form-control" id="text" placeholder="{{model.widget.text}}">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="url" placeholder="{{model.widget.url}}">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="{{model.widget.width}}">
        </div>
        <div class="form-group">
            <label for="uploads">Upload</label>
            <input type="file" id="uploads" class="form-control">
        </div>

        <a class="btn btn-primary  btn-block"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">Upload Image</a>
    </form>

-->