
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="{{model.widget.name}}">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="{{model.widget.text}}">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="{{model.widget.size}}">
    </div>

</form>

