
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text text text">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="3">
    </div>

</form>

