
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="{{model.widget.name}}">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="email" class="form-control" id="text" placeholder="{{model.widget.text}}">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="{{model.widget.url}}">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" placeholder="{{model.widget.width}}">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" id="upload" class="form-control">
        </div>

        <a class="btn btn-primary  btn-block"
           href="../../widget-list.html">Upload Image</a>
    </form>
