    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid col-sm-12">
            <div class="col-sm-12">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-text pull-right" style="margin-right: 0px;">
                    <a href="#">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
                        Edit Widget
                    </a>
                </div>
            </div>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="form-class">
            <div ng-include="'views/widget/widget-'+model.widget.widgetType.toLowerCase()+'.view.client.html'"></div>
            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>
        </div>
    </div>




    <nav class="navbar navbar-default navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="row navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
