<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav-bar header">
            <a href="#/login" class="navbar-brand pull-right">
                Login
            </a>
        </div>
    </div>
</nav>


<div class="banner">
    <span class="banner-text pull-right">Mixtape Network</span>
</div>

<div class="container-fluid" >
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function() {-->
            <!--$('body').css('background-image', 'url(/project/views/mixtape_bg.jpeg)');-->
        <!--});-->
    <!--</script>-->

    <h2>Track Search</h2>

    <div class="input-group">
        <input ng-model="title" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button ng-click="model.searchTrackByTitle(title)" class="btn btn-default" type="button">Go!</button>
      </span>
    </div>


    <div ng-if="model.tracks">
        <table class="table">
            <trhead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Poster</th>
                    <th>Add to playlist</th>
                </tr>
            </trhead>
            <tbody>
            <tr ng-repeat="track in model.tracks">
                <td><a href="#/details/{{track.id}}/{{title}}">{{track.name}}</a></td>
                <td>{{track.artists[0].name}}</td>
                <td><img ng-src="{{track.album.images[0].url}}" height="100px"/></td>
                <td><a ng-click="model.addTrack(track)" class="btn btn-primary btn-block">Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>