<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/playlist">
                    Playlists
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 27px;">
                <a href="#/user/{{model.uid}}/playlist/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.uid}}/playlist">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a ng-click="model.updatePlaylist()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/playlist/{{model.wid}}">
                    Edit Playlist
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs" style="margin-left:15px; margin-top: 50px; padding-top: 15px; margin-bottom: 50px; position: absolute;top: 0px;bottom: 0px;overflow: auto;">

        <!--{{models.playlists}}-->

        <ul class="list-group">
            <li ng-repeat="playlist in model.playlists" class="list-group-item">
                <a href="#/user/{{model.uid}}/playlist/{{playlist._id}}/track">
                    {{playlist.name}}
                </a>
                <a href="#/user/{{model.uid}}/playlist/{{playlist._id}}" class="pull-right" style="margin-left: 15px;">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </li>

        </ul>
    </div>


    <div class="col-xs-12 col-sm-8 v-divider pull-right">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.playlist.name" type="text" class="form-control" id="name" placeholder="{{model.playlist.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="model.playlist.description" type="text" class="form-control" rows="5" id="description" placeholder="{{model.playlist.description}}"></textarea>
            </div>

        </form>

        <a ng-click="model.deletePlaylist()"
           class="btn btn-danger btn-block">Delete</a>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="nav-bar header">
            <a href="#/user/{{model.uid}}" class="navbar-brand pull-right">
                <span class = "glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
